.row {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.choose-from-catalog-btn {
  background: #fbffa8;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #1b2559;
  cursor: pointer;
}

.add-new-question-btn {
  background: #ffffff;
  border: 3px dashed #1b2559;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #1b2559;
  cursor: pointer;
}

.publish-btn {
  background: #4ae3b5;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #1b2559;
}

.save-as-draft-btn {
  background: #e5e5e5;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #1b2559;
}
